<% provide(:metric, 'Completeness') %>
<% content_for :content do %>
  <table class="table">
    <thead>
      <tr>
        <th>Field</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
<% end %>
<%= render 'layouts/metric_details' %>
