<% provide(:metric, 'Completeness') %>
<% content_for :content do %>
  <table class="table">
    <thead>
      <tr>
        <th>Field</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <% @properties.each do |key| %>
        <tr>
          <td><%= key %></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<%= render 'layouts/metric_details' %>
