<% provide(:metric, "Link Checker") %>
<% content_for :content do %>
  <table class="link-checker-table table">
    <thead>
      <th>URL</th>
      <th>Response</th>
    </thead>
    <tbody>
      <% @url_request_responses.each do |url, response| %>
        <tr>
          <td><%= url %></td>
          <td class='<%= success?(response) %>'><%= response %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<%= render 'layouts/metric_details' %>
