<h1>Statistics</h1>
<h2><%= @repository.name %></h2>
<div class="dashboard">
  <h3><span class="glyphicon glyphicon-calendar"></span> Creation and Update Times</h3>
  <pre>
    <% @times.each do |date, (creation, update)| %>
     <%= [date, creation, update].join(',')  %>
    <% end %>
  </pre>
</div>
