<h1>Administration</h1>
<h2>Import</h2>
<div class="content row">
  <div class="dashboard-6 col-md-6">
    <div>
      <h4><span class="glyphicon glyphicon-hdd"></span> Repositories</h4>
    </div>
  </div>
  <div class="dashboard-6 col-md-6">
    <div>
      <h4><span class="glyphicon glyphicon-align-justify"></span> Metadata</h4>
    </div>
  </div>
</div>
