<h1>Control Panel</h1>
<div class="dashboard">
  <table class="table">
    <thead>
      <tr>
        <th>Metric</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @metrics.each do |metric| %>
        <tr>
          <td rowspan="2"><%= metric.to_s.titlecase %></td>
          <td><div class="admin control progress"><div class="bar"></div></div></td>
          <td rowspan="2"><button>X</button></td>
        </tr>
        <tr>
          <td><div class="admin control progress"><div class="bar"></div></div></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
