<h1>Administration</h1>
<h2>Metadata Importer</h2>
<div class="dashboard">
  <ul>
    <% Dir.entries('dumps').each do |dump| %>
      <%= content_tag(:li, dump) if File.file?("dumps/#{dump}") %>
    <% end %>
  </ul>
</div>
