<div id="analysis" class="tab-pane active">
  <table class="link-checker-table table">
    <thead>
      <th>URL</th>
      <th>Response</th>
    </thead>
    <tbody>
      <% @analysis.responses.each do |url, response| %>
        <tr>
          <td><%= url %></td>
          <%= response_td(response) %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div id="statistics" class="tab-pane">
  <div class="row">
    <div class="col-md-12">
      <div class="metric link-checker pie-chart"></div>
    </div>
  </div>
</div>
