<h1>Metrics</h1>
<form class="form-inline" action="metrics/select" method="post">
  <fieldset>
    <label for="repository">Repository</label>
    <select name="repository">
      <% for repository in @repositories %>
        <option><%= repository.name %></option>
      <% end %>
    </select>
    <button type="submit" class="btn">Select</button>
  </fieldset>
</form>
