<h1>Metrics</h1>
<div class="row">
  <div class="span6">
    <form class="form-inline" action="" method="post">
      <fieldset>
        <label for="repository">Repository</label>
        <select name="repository">
          <% for repository in @repositories %>
            <option <%= selected?(repository.name, params[:repository])
            %>><%= repository.name %></option>
          <% end %>
        </select>
        <!-- <button type="submit" class="btn">Select</button> --!>
      </fieldset>
    </form>
  </div>
</div>
<div class="row center">
  <div class="span12 dashboard">
    <div class="row">
      <div id="completeness-meter" class="span4 metric">
        <strong><a href="/metrics/completeness">Completeness</a></strong>
      </div>
      <div id="weighted-completeness-meter" class="span4 metric">
        <strong><a href="/metrics/weighted-completeness">Weighted Completeness</a></strong>
      </div>
      <div id="richness-of-information-meter" class="span4 metric">
        <strong>Richness of Information</strong>
      </div>
    </div>

    <div class="row">
      <div id="accuracy-meter" class="span4 metric">
        <strong><a href="/metrics/accuracy">Accuracy</a></strong>
      </div>
      <div id="accessibility-meter" class="span4 metric">
        <strong><a href="/metrics/accessiblity">Accessiblity</a></strong>
      </div>
  </div>
</div>
