<h1>Metrics</h1>
<form action="metrics/compute" method="post">
  <fieldset>
    <label for="repository">Repository</label>
    <select name="repository">
      <% for repository in @repositories %>
        <option><%= repository.name %></option>
      <% end %>
    </select>
    <label for="metric">Metric</label>
    <select name="metric">
      <option>Completeness</option>
      <option>Weighted Completeness</option>
      <option>Richness of Information</option>
    </select>
    <div class="form-actions">
      <button type="submit" class="btn">Compute</button>
    </div>
  </fieldset>
</form>
