<h1>Metrics</h1>
<div class="row">
  <div class="span6">
    <form class="form-inline" action="" method="get">
      <fieldset>
        <label for="repository">Repository</label>
        <select name="repository">
          <% for repository in @repositories %>
            <option <%= selected?(repository.name, params[:repository])
            %>><%= repository.name %></option>
          <% end %>
        </select>
        <input type="submit" class="btn" value="Select">
      </fieldset>
    </form>
  </div>
</div>
<div class="row center">
  <div class="span12 dashboard">
    <div class="row">
      <div id="completeness" class="span4 metric metric-meter">
        <strong><a href="/metrics/completeness">Completeness</a></strong>
        <div class="progress">
          <div class="bar"></div>
        </div>
      </div>
      <div id="weighted-completeness" class="span4 metric metric-meter">
        <strong><a href="/metrics/weighted-completeness">Weighted Completeness</a></strong>
        <div class="progress">
          <div class="bar"></div>
        </div>
      </div>
      <div id="richness-of-information" class="span4 metric metric-meter">
        <strong>Richness of Information</strong>
        <div class="progress">
          <div class="bar"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div id="accuracy" class="span4 metric metric-meter">
        <strong><a href="/metrics/accuracy">Accuracy</a></strong>
        <div class="progress">
          <div class="bar"></div>
        </div>
      </div>
      <div id="accessibility" class="span4 metric">
        <strong><a href="/metrics/accessiblity">Accessiblity</a></strong>
        <div class="progress">
          <div class="bar"></div>
        </div>
        <div class="score">?</div>
      </div>
  </div>
</div>
