<h1>Metrics</h1>
<ul>
  <li><a href="metrics/completeness">Completeness</a></li>
  <li><a href="metrics/weighted-completeness">Weighted Completeness</a></li>
  <li><a href="metrics/richness-of-information">Richness of Information</a></li>
</ul>
