<h1>Metrics</h1>
<div class="row">
  <div class="span6">
    <form class="form-inline" action="metrics/select" method="post">
      <fieldset>
        <label for="repository">Repository</label>
        <select name="repository">
          <% for repository in @repositories %>
            <option><%= repository.name %></option>
          <% end %>
        </select>
        <button type="submit" class="btn">Select</button>
      </fieldset>
    </form>
  </div>
</div>
<div class="row center">
  <div class="span12 dashboard">
    <div class="row">
      <div class="span4">
        <strong>Completeness</strong>
        <div id="metric-bar">
        </div>
      </div>
      <div class="span4">
        <strong>Weighted Completeness</strong>
      </div>
      <div class="span4">
        <strong>Richness of Information</strong>
      </div>
    </div>
  </div>
</div>
