<% provide(:parameter, 'repository') %>
<% content_for :heading do %>
  <h1>Metric Report</h1>
  <h2><%= @metric.to_s.titlecase %></h2>
<% end %>
<% content_for :content do %>
  <div class="row">
    <div class="col-md-12">
      <%= score() %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul class="metrics nav nav-tabs">
        <li class="active"><a href="#analysis">Analysis</a></li>
        <li><a class="statistics" href="#statistics">Statistics</a></li>
      </ul>
    </div>
  </div>
  <div class="tab-content">
    <%= render partial: "metrics/#{@metric.to_s}" %>
  </div>
<% end %>
<%= render 'layouts/repository_based' %>
