<div id="analysis" class="tab-pane active">
  <table class="link-checker-table table">
    <thead>
      <th>URL</th>
      <th>Response</th>
    </thead>
    <tbody>
      <% @report.each do |url, response| %>
        <tr>
          <td><%= url %></td>
          <%= response_td(response) %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div id="statistics" class="tab-pane">
</div>
