<a data-toggle="dropdown" href="#"><%= display %></a>
<ul class="dropdown-menu" role="menu">
  <% entities.each do |entity| %>
    <li><%= link_to entity, self.send(path, { parameter => entity.id }) %></li>
  <% end %>
</ul>
<strong class="caret"></strong>
