<a data-toggle="dropdown" href="#"><%= display.to_s %></a>
<ul class="dropdown-menu" role="menu">
  <% enumerable = entities.map(&:class).index(Array)  %>
  <% entities[enumerable].each do |item| %>
    <% entities[enumerable] = item %>
    <li><%= link_to item.to_s, entities %></li>
  <% end %>
</ul>
<strong class="caret"></strong>
