<div class="row">
  <div class="col-md-12">
    <table class="metric table table-bordered table-striped">
      <tbody>
        <% analysis = @documents[i].send(@metric)['analysis'] %>
        <% analysis.each do |item| %>
          <tr>
            <th><%= item['field'].join(' ').titlecase %></th>
            <th><%= item['score'] %></th>
          </tr>
          <tr>
            <%= content_tag(:td, Metrics::Metric.value(@documents[i].record, item['field']), colspan: '2')%>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
