<div class="report row">
  <div class="span12">
    <div class="search report row center">
      <div class="span10 table-centered">
        <input id="search-input" class="report input-xlarge" type="text" placeholder="Search..."></input>
        <table id="search-results" class="table" data-provides="rowlink">
          <thead>
            <th>ID</th>
            <th>Name</th>
            <% Metrics::IDENTIFIERS.each do |metric| %>
              <th><%= metric_abbreviation(metric) %></th>
            <% end %>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
</div>
