<h1>Administration</h1>
<h2>Schediler</h2>
<div class="row">
  <div class="dashboard col-md-12 alert alert-danger error-page">
    <h3><span class="glyphicon glyphicon-warning-sign"></span> There are no snapshots.</h3>
  </div>
</div>
