<% provide(:parameter, 'repository') %>
<% provide(:heading, 'Metric Report') %>
<% content_for :content_top do %>
  <div class="repository-based btn-toolbar">
    <div class="btn-group">
      <a class="repository-based repository-selector dropdown-toggle" href="#"><%= @metric.to_s.titlecase %> 
      <strong class="repository-based caret"></strong></a>
      <ul class="dropdown-menu" role="menu">
        <% Metrics::IDENTIFIERS.each do |metric| %>
          <li><%= create_metric_link(metric) %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
<% content_for :content do %>
  <div class="row">
    <div class="span12">
      <div class="row">
        <% 2.times do |i| %>
          <div class="span6 center report btn-toolbar">
            <div class="report btn-group">
              <a class="dropdown-toggle" href="#">
                <strong>Record <%= i + 1 %></strong> <strong class="caret"></strong>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">By Search</a></li>
                <li><a href="#">By Score</a></li>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<%= render 'layouts/repository_based' %>
