<div class="row">
  <% 2.times do |i| %>
    <div class="col-md-6">
      <a class="btn record-selector dropdown btn-primary glyphicon glyphicon-sort-by-attributes" href="#" data-toggle="dropdown"></a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <% @repository.best_records(@metric).each do |document| %>
          <%= record_selector_entry(@documents[i], document) %>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
<div class="row">
  <% 2.times do |i| %>
    <div class="col-md-6">
      <table class="metric record-info table table-bordered">
        <tr>
          <th>ID</th>
          <td><%= @documents[i][:record][:id] %></td>
        </tr>
        <tr>
          <th>Name</th>
          <td><%= @documents[i][:record][:name] %></td>
        </tr>
      </table>
    </div>
  <% end %>
</div>
