<div id="analysis" class="tab-pane active">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="input-group">
        <input class="form-control" type="text">
        <div class="input-group-btn">
          <button class="btn btn-default">Working</button>
          <button class="btn btn-default">All</button>
          <button class="btn btn-default" disabled="disabled">Broken</button>
        </div>
      </div>
    </div>
  </div> 
  <div class="row">
    <div class="col-md-12">
      <table class="link-checker-table table">
        <thead>
          <th>URL</th>
          <th>Response</th>
        </thead>
        <tbody>
          <% @analysis.responses.each do |url, response| %>
            <% next if successful?(response) %>
            <tr>
              <td><%= url %></td>
              <%= response_td(response) %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="statistics" class="tab-pane">
  <div class="row">
    <div class="col-md-12">
      <div class="metric link-checker pie-chart"></div>
    </div>
  </div>
</div>
