/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap-rowlink.min
 *= require_tree .
 */
@import "bootstrap.css";

.table {
  table-layout: fixed;
}

.table th {
  text-align: left;
}

.progress-meter .background {
  fill: #ccc;
}

.progress-meter text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
}

.dashboard {
  background-color: #fff;
  border: 1px solid transparent;
  border-color: #ddd;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  padding: 1em;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05)
}

.dashboard-6 {
  background-color: #fff;
  border: 1px solid transparent;
  border-color: #ddd;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

  display: flex;
  flex-direction: column;

  margin-bottom: 1em;
}

.dashboard-3 {
  background-color: #fff;
  border: 1px solid transparent;
  border-color: #ddd;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

  display: flex;
  min-height: 20em;
  flex-direction: column;
  margin-bottom: 1em;
}

.dashboard-9 {
  background-color: #fff;
  border: 1px solid transparent;
  border-color: #ddd;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

  display: flex;
  min-height: 20em;
  flex-direction: column;
  margin-bottom: 1em;
}

@media (min-width: 992px) {

.dashboard-left {
  float: left;
}

.dashboard-right {
  float: right;
}

  .dashboard-9 {
    width: 74.33%;
  }

  .dashboard-6 {
    width: 49%;
  }

  .dashboard-3 {
    width: 24.66%
  }
}

// For dashboard columns without a h3 tag
.without-heading {
  padding-top: 1em;
}

// For columns that are not the dashboard, but require the sizing as a bounding
// box. Example: Breadcrumb itself is the dashboard, but needs the bounding box.
.dashboard-col {
  padding: 0px;
}

.navigation.row {
  margin-top: 4em;
  margin-bottom: 0px;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 2em;
  text-align: center;
  font-weight: normal;
  color: #999;
}

h3 {
  margin-bottom: 1.75em;
  vertical-align: middle;
}

.dashboard-description {
  margin-bottom: 2em;
}

/* Universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  background-color: #efefef;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.nav-pills li {
  margin-right: 1em;
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}


p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* Footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

.caret {
  margin-top: 0px;
  vertical-align: middle;
}

.table-centered {
  margin: 0 auto !important;
  float: none !important;
}

// set back to default value (auto) due to mismatch in height between text
// input and buttons in a button group, remove if this does not happen anymore
.form-control {
  height: auto;
}

.bad {
  color: #d2322d;
}

.medium {
  color: #ed9c28;
}

.good {
  color: #47a447;
}

.button-row {
  margin-bottom: 1em;
}

.error-page {
  padding: 2.5em;
  text-align: center;
}

.error-page > h3 {
  margin: 0em;
}
