/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap-rowlink.min
 *= require_tree .
 */
@import "bootstrap";

.table {
  table-layout: fixed;
}

.table th {
  text-align: left;
}

.row {
  margin-bottom: 2em;
}

.progress-meter .background {
  fill: #ccc;
}

.progress-meter text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dashboard {
  background-color: #fff;
  border: 1px solid transparent;
  border-color: #ddd;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  padding: 1em;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05)
}

.dashboard-6 {
  background-color: #fff;
  border: 1px solid transparent;
  border-color: #ddd;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin: 0.5em;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  height: 30em;
}

@media (min-width: 992px) {
  .dashboard-6 {
    width: 47.5%;
  }
}

// For columns that are not the dashboard, but require the sizing as a bounding
// box. Example: Breadcrumb itself is the dashboard, but needs the bounding box.
.dashboard-col {
  padding: 0px;
}

.navigation.row {
  margin-top: 4em;
  margin-bottom: 0px;
}

.content {
  margin-top: 4em;
}

h3 {
  margin-bottom: 0.75em;
}

.dashboard-description {
  margin-bottom: 2em;
}
