/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require bootstrap-rowlink.min
 *= require leaflet
 *= require MarkerCluster
 *= require MarkerCluster.Default
 *= require MarkerCluster.Default.ie
 *= require nas
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

.table {
  table-layout: fixed;
}

.table th {
  text-align: left;
}

.progress-meter .background {
  fill: #ccc;
}

.progress-meter text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
}

.dashboard {
  background-color: #fff;
  border: 1px solid transparent;
  border-color: #ddd;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  padding: 1em;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05)
}

.dashboard-6 {
  background-color: #fff;
  border: 1px solid transparent;
  border-color: #ddd;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 1em;
  //display: flex;
  //lex-direction: column;

  margin-bottom: 1em;
}

.dashboard-3 {
  background-color: #fff;
  border: 1px solid transparent;
  border-color: #ddd;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

  display: flex;
  min-height: 20em;
  flex-direction: column;
  margin-bottom: 1em;
}

.dashboard-9 {
  background-color: #fff;
  border: 1px solid transparent;
  border-color: #ddd;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

  display: flex;
  min-height: 20em;
  flex-direction: column;
  margin-bottom: 1em;
}

@media (min-width: 992px) {

  .dashboard-left {
    float: left;
  }

  .dashboard-right {
    float: right;
  }

  .dashboard-9 {
    width: 74.33%;
  }

  .dashboard-6 {
    width: 49%;
  }

  .dashboard-3 {
    width: 24.66%
  }
}

// For dashboard columns without a h3 tag
.without-heading {
  padding-top: 1em;
}

// For columns that are not the dashboard, but require the sizing as a bounding
// box. Example: Breadcrumb itself is the dashboard, but needs the bounding box.
.dashboard-col {
  padding: 0px;
}

.navigation.row {
  margin-top: 4em;
  margin-bottom: 0px;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 2em;
  text-align: center;
  font-weight: normal;
  color: #999;
}

h3 {
  vertical-align: middle;
  font-size: 18px;
}

h4 {
  color: #999;
  vertical-align: middle;
  font-size: 14px;
  margin-bottom: 2em;
}

h3 .glyphicon.glyphicon-folder-open {
  padding-right: 0.3em;
}

.dashboard-description {
  margin-bottom: 2em;
}

/* Universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  background-color: #efefef;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.nav-pills li {
  margin-right: 1em;
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}


p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* Footer */

footer {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

.caret {
  margin-top: 0px;
  vertical-align: middle;
}

.table-centered {
  margin: 0 auto !important;
  float: none !important;
}

// set back to default value (auto) due to mismatch in height between text
// input and buttons in a button group, remove if this does not happen anymore
.form-control {
  height: auto;
}

.bad {
  color: #d2322d;
}

.medium {
  color: #ed9c28;
}

.good {
  color: #47a447;
}

.button-row {
  margin-bottom: 1em;
  margin-top: 2em;
}

.error-page {
  padding: 2.5em;
  text-align: center;
}

.error-page > h3 {
  margin: 0em;
}

h3.heading-only {
  margin: 0em;
  text-align: center;
}

a[data-target] {
  cursor: pointer;
}

input[type='range'] {
  -webkit-appearance: none !important;
  background: #e6e6e6;
  border-radius: 3px;
  height: 11px;
  border: 1px solid #c9c9c9;
}

input[type='range']:focus {
  outline: 0;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background: #aaa;
  height: 18px;
  width: 18px;
  border: 1px solid #a4a4a4;
  border-radius: 25px;
  box-shadow: 1px 1px 3px #888888;

  background: #ffffff;
  background: -moz-linear-gradient(top,  #ffffff 0%, #e3e3e3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e3e3e3));
  background: -webkit-linear-gradient(top,  #ffffff 0%,#e3e3e3 100%);
  background: -o-linear-gradient(top,  #ffffff 0%,#e3e3e3 100%);
  background: -ms-linear-gradient(top,  #ffffff 0%,#e3e3e3 100%);
  background: linear-gradient(to bottom,  #ffffff 0%,#e3e3e3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e3e3e3',GradientType=0 );
}

.carousel-background {
  background-image: url(../images/carousel-background.jpg);
  background-repeat: no-repeat;
}

.carousel-row {
  margin-bottom: 7.5em;
  margin-top: 2.5em;
}

.carousel-indicators {
  bottom: -40px;
}

.carousel-control {
  width: 2.5em;
  height: 2.5em;
  opacity: 0.9;
  border-radius: 4px;
  margin-top: 17em;
}

.carousel-control:hover {
  opacity: 1.0;
}

.carousel-control .glyphicon {
  top: 25%;
  left: 28%;
}

.left.carousel-control {
  margin-left: -4em;
  background-image: none;
  background-color: #e84e39;
}

.right.carousel-control {
  margin-right: -4em;
  background-image: none;
  background-color: #e84e39;
}

.carousel-indicators .active {
  background-color: #303030;
}

.carousel-indicators li {
  border: 1px solid #5F5F5F;
}

.carousel-caption h3 {
  color: #303030;
  margin-bottom: -0.5em;
}

.spinner {
  margin-top: 7em;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
}

.dashboard-icon {
  padding-right: 0.25em;
}

.feature-header {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 24px;
}

section#features,
section#how-works {
  overflow: inherit;
}

#feature-accordion {
  margin-top: 2em;
  width: 75%;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));  border: 0;
  height: 1px;
  margin-top: 5em;
  margin-bottom: 5em;
}

.row.metric-weight {
  margin-bottom: 2em;
}

.row.metric-weight div:first-child {
  text-align: right;
}

.row.metric-weight > div > input {
  width: 100%;
}
