.metric.score-meter {
  margin-bottom: 2em;
}

// create a information box for the records
.metric.record-info.table th:first-child {
  width: 15%;
}

// makes the dropdown menu working
.btn.record-selector {
  position: relative;
}

.table.metric.record-results thead tr th:first-child,
.table.metric.record-results thead tr td:first-child {
  width: 80%
}

.description {
  margin-top: 2em;
}

// Pie chart on the statistic tab
.arc path {
  stroke: #fff;
}

.statistic-heading {
  margin-bottom: 2em;
  text-align: center;
}

#pie-chart {
  margin-bottom: 2em;
}

.tick-rules {
  stroke: #666;
}

.bar {
  // fill: #339cff;
  fill: url(#gradient);
}

.bar > rect {
  stroke: #5997d0;
}

.bar:hover {
  fill: url(#gradient-hover);
  stroke: #3386d4;
}

/*
.x.axis path {
  display: none;
}
*/

.progress-meter > path {
  filter: url(#drop-shadow);
}

.tip-header {
  margin-bottom: 0.5em;
}


/* Hide tick labels */
.bar-chart.y-axis-label { 
  display: none; 
}

/* Completeness table  */
.repositories.metric.completeness.table tr th:nth-child(-n+2) {
  text-align: left;
  vertical-align: middle;
}

.repositories.metric.completeness.table > tbody tr > td.complete {
  background-color: #dff0d8;
}

.repositories.metric.completeness.table > tbody tr > td.incomplete {
  background-color: #f2dede;
}

.accuracy-table tbody tr td:first-child {
  vertical-align: middle;
}

.accuracy-table tbody tr td:nth-child(-n+2) {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.successful {
  background-color: #dff0d8;
}

.unsuccessful {
  background-color: #f2dede;
}

.button-margin-bottom {
  margin-bottom: 1em;
}
