.metric.score-meter {
  margin-top: 2em;
  margin-bottom: 2em;
}

// create a information box for the records
.metric.record-info.table th:first-child {
  width: 15%;
}

// makes the dropdown menu working
.btn.record-selector {
  position: relative;
}

.table.metric.record-results thead tr th:first-child,
.table.metric.record-results thead tr td:first-child {
  width: 80%
}

.description {
  margin-top: 2em;
}

// Pie chart on the statistic tab
.arc path {
  stroke: #fff;
}

.statistic-heading {
  margin-bottom: 2em;
  text-align: center;
}

#pie-chart {
  margin-bottom: 2em;
}

// Bar chart with tooltip
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  // fill: #339cff;
  fill: url(#gradient);
}

.bar > rect {
  stroke: #5997d0;
}

.bar:hover {
  fill: url(#gradient-hover);
  stroke: #3386d4;
}

/*
.x.axis path {
  display: none;
}
*/

.d3-tip {
  box-shadow: 2px 2px 2px #666;
  text-align: center;
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

.d3-tip.animate {
  animation: fadeIn 0.15s ease-out;
  -webkit-animation: fadeIn 0.15s ease-out;
}


.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.group-tip {
  color: #ff0000;
}

.progress-meter > path {
  filter: url(#drop-shadow);
}

.tip-header {
  margin-bottom: 0.5em;
}


/* Hide tick labels */
.bar-chart.y-axis-label { 
  display: none; 
}

/* Completeness table  */
.repositories.metric.completeness.table tr th:nth-child(-n+2) {
  text-align: center;
  vertical-align: middle;
}

.repositories.metric.completeness.table > tbody tr > td.complete {
  background-color: #dff0d8;
}

.repositories.metric.completeness.table > tbody tr > td.incomplete {
  background-color: #f2dede;
}

.accuracy-table tbody tr td:first-child {
  vertical-align: middle;
}

.accuracy-table tbody tr td:nth-child(-n+2) {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.successful {
  background-color: #dff0d8;
}

.unsuccessful {
  background-color: #f2dede;
}

.button-margin-bottom {
  margin-bottom: 1em;
}
