// Place all the styles related to the Report controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-rowlink.min";

.repository-based.repository-selector {
  font-size: 24px;
  letter-spacing: -1px;
  margin-bottom: 30px; text-align: center;
  text-decoration: none;
  color: #999;
}

.repository-based.repository-selector .caret {
  border-top-color: #999;
}

.report.repository.breadcrumb {
  background-color: #fff;
}

.metric.selector,
.repository.selector {
  position: relative;
}

.btn > span.glyphicon:before {
  line-height: 1.5;
}

.report.repository.table {
  table-layout: fixed;
}

.report.repository.table td:nth-of-type(2),
.report.repository.table th:nth-of-type(2) {
  text-align: center;
}

.report.repository.table td:nth-of-type(3),
.report.repository.table th:nth-of-type(3) {
  text-align: right;
}

.btn-group .repository-based.caret {
  margin-top: 0px;
  vertical-align: middle;
}

.repository-based.btn-toolbar {
  text-align: center;
  margin-bottom: 20px;
}

.dropdown-menu li {
  text-align: left;
}

a.dropdown-toggle {
  color: #000;
  text-decoration: none;
}

.report.row {
  margin-bottom: 0em;
}

#search-results tbody tr td {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#search-input.report {
  margin-bottom: 2.5em;
}

.repository-menu {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 20em;
  margin-bottom: 3em;
}
