.repository.nav {
  margin-bottom: 2em;
}

#map-canvas {
  height: 40em;
}

.repository.breadcrumb {
  background-color: #fff;
}

.repository.breadcrumb > li {
  position: relative;
}

/* Leaderboard table */
.leaderboard.dashboard {
  overflow: auto;
}

.repositories.leaderboard.table th,
.repositories.leaderboard.table td {
  text-align: center;
  overflow: hidden;
}

.repositories.leaderboard.table > thead tr th:first-child,
.repositories.leaderboard.table > tbody tr td:first-child {
  width: 5em;
}

.repositories.leaderboard.table > thead tr th:nth-child(2),
.repositories.leaderboard.table > tbody tr td:nth-child(2) {
  width: 13em;
  text-align: left;
}

.repositories.leaderboard.table > tbody tr td:nth-child(3) {
  border-right: 1px dotted #bbb;
}


.repositories.leaderboard.table > thead tr th:nth-child(n+3),
.repositories.leaderboard.table > thead tr th:nth-child(n+3) {
  width: 7em;
}

// Table repositories#show
.repository.metric.table td {
  vertical-align: middle;
}

.repository.metric.table td,
.repository.metric.table th {
  text-align: center;
}

// Language table on the numbers tab
#language-table {
  width: 100%;
  overflow: auto;
}

.repositories.languages.table > thead tr th:first-child,
.repositories.languages.table > tbody tr td:first-child {
  width: 11em;
}

.repositories.languages > thead tr th:nth-child(n+2),
.repositories.languages > tbody tr td:nth-child(n+2) {
  text-align: right;
  width: 4em;
}

.leaflet-control-score-interior {
  width: 27px;
  height: 27px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  padding: 3px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
  cursor: auto;
  text-align: center;
  background-color: #fff;
}

.leaflet-control-score-interior > a {
  color: #000;
  font-size: 1.3em;
}

.leaflet-control-score-interior > a:hover {
  text-decoration: none;
}

.leaflet-control-score-interior:hover {
  background-color: #F4F4F4;
}

.repositories.leaderboard.table thead > tr > th:nth-child(n+4) {
  height: 10em;
  padding-bottom: 1.5em;
  overflow: visible;
  white-space: nowrap;
  -webkit-transform: rotate(330deg);
  -moz-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  -o-transform: rotate(330deg);
  transform: rotate(230deg);
}
