@import "leaflet";

.repository.nav {
  margin-bottom: 2em;
}

#map {
  height: 40em;
}

.repository.breadcrumb {
  background-color: #fff;
}

.repository.breadcrumb > li {
  position: relative;
}

/* Leaderboard table */
#leaderboard {
  overflow: auto;
}

.repositories.leaderboard.table th,
.repositories.leaderboard.table td {
  text-align: center;
  overflow: hidden;
  vertical-align: middle;
}

.repositories.leaderboard.table > thead tr th:first-child,
.repositories.leaderboard.table > tbody tr td:first-child {
  width: 5em;
}

.repositories.leaderboard.table > thead tr th:nth-child(2),
.repositories.leaderboard.table > tbody tr td:nth-child(2) {
  width: 13em;
  text-align: left;
}

.repositories.leaderboard.table > thead tr th:nth-child(n+3),
.repositories.leaderboard.table > thead tr th:nth-child(n+3) {
  width: 7em;
}

// Table repositories#show
.repository.metric.table td {
  vertical-align: middle;
}

.repository.metric.table td,
.repository.metric.table th {
  text-align: center;
}

// Language table on the numbers tab
#language-table {
  width: 100%;
  overflow: auto;
}

.repositories.languages.table > thead tr th:first-child,
.repositories.languages.table > tbody tr td:first-child {
  width: 11em;
}

.repositories.languages > thead tr th:nth-child(n+2),
.repositories.languages > tbody tr td:nth-child(n+2) {
  text-align: right;
  width: 4em;
}
