.entity-selector > li {
  position: relative;
}

.weight {
  font-size: 14px;
}

.weight-component {
  margin-bottom: inherit;
}

.weight-label {
  margin-bottom: 0em;
}

.score-meter {
  margin-top: 3.5em;
  text-align: center;
}

#quality-distribution {
  margin-top: 2em;
}

.histogram-bar-label {
  fill: #fff;
}

