.entity-selector > li {
  position: relative;
}

.weight {
  font-size: 14px;
}

.weight-component {
  margin-bottom: inherit;
}

.weight-label {
  margin-bottom: 0em;
}

.score-meter {
  margin-top: 3.5em;
  text-align: center;
}

#quality-distribution {
  margin-top: 1em;
  overflow: auto;
}

.histogram-bar-label {
  fill: #fff;
}

rect {
  cursor: pointer;
}

.repository.snapshot.table td,
.repository.snapshot.table th {
  text-align: center;
  vertical-align: middle;
}

.metadata-table.table > thead tr th:nth-child(3) {
  overflow: hidden;
}

.metadata-table.table > thead tr th:nth-child(3),
.metadata-table.table > tbody tr td:nth-child(3) {
  width: 5em;
}
