.accuracy-size-table thead tr th:nth-child(3),
.accuracy-size-table thead tr th:nth-child(4),
.accuracy-size-table tbody tr td:nth-child(3),
.accuracy-size-table tbody tr td:nth-child(4) {
  text-align: right;
  width: 9em;
}

.accuracy-size-table tbody tr td {
  text-overflow: ellipsis;
  overflow: hidden;
}
