<header class="navbar navbar-fixed-top navbar">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Metadata Census", '#', class: "brand" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",         '#' %></li>
          <li><%= link_to "Repositories", '#' %></li>
          <li><%= link_to "Metrics",      '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
