<div class="row">
  <div class="col-md-2 col-md-offset-3">
    <div class="metric score meter"></div>
  </div>
  <div class="col-md-6">
    <a class="btn btn-default glyphicon glyphicon-sort-by-attributes" href="#record-selection"></a>
    <a class="btn btn-default glyphicon glyphicon-sort-by-attributes-alt" href="#record-selection"></a>
  </div>
</div>
