<h1>Repositories</h1>
<div class="dashboard">
  <ul class="repository nav nav-pills">

    <%= content_tag(:li, (link_to "Overview", repositories_path),
                    :class => is_active?('overview')) %>

    <%= content_tag(:li, (link_to "Leaderboard", repositories_leaderboard_path),
                    :class => is_active?('leaderboard')) %>

    <%= content_tag(:li, (link_to "Map", repositories_map_path),
                    :class => is_active?('map')) %>
  </ul>
  <%= yield :content %>
</div>
