<h1>Repository Report</h1>
<h2><%= @repository.name %></h2>
<div class="row">
  <div class="span6">
    <form class="form-inline" action="" method="get">
      <fieldset>
        <label for="repository">Repository</label>
        <select name="repository">
          <% for repository in @repositories %>
            <option <%= selected?(repository.name, params[:repository])
            %>><%= repository.name %></option>
          <% end %>
        </select>
      </fieldset>
    </form>
  </div>
</div>
<div class="dashboard">
  <%= yield :content %>
</div>
